<div class="contenedor">
    <!--Session-->
    <main [ngStyle]="{'animation-name':animationMain}">
        <div class="imgLogin">
            <img src="../../../assets/Logo.png" alt="logo">
        </div>
        <!--Iniciar sesion-->
        <div class="formLogin" *ngIf="signIn">
            <input (keypress)="nextFocus('userLogin', 'passwordLogin')" tabindex="1" id="userLogin" [(ngModel)]="userLogin" type="text" placeholder="User example@">
            <br>
            <input (keypress)="nextFocus('passwordLogin', 'buttonLogin')" tabindex="2" id="passwordLogin" [(ngModel)]="passwordLogin" type="password" placeholder="Password">
            <br>
            <button id="buttonLogin" class="button" tabindex="3" (click)="SignInLogin()">Sign in</button>
            <div class="SignUp">
                <button class="buttontexto" tabindex="4" (click)="SignUp()">Sign up</button>
                <button class="buttontexto butonleft" tabindex="5" role="button">Forgot password?</button>
            </div>
        </div>
        <!--Registrarse-->
        <div class="formLogin" *ngIf="signUp">
            <input (keypress)="nextFocus('nameRegister', 'userRegister')" tabindex="1" id="nameRegister" [(ngModel)]="nameRegister" type="text" placeholder="Names">
            <br>
            <input (focus)="MensajedeError=''" tabindex="2" id="birthRegister" [(ngModel)]="birthRegister" placeholder="birth date" type="text" onfocus="(this.type = 'date')" id="date">
            <br>
            <input (keypress)="nextFocus('userRegister', 'passwordRegister')" tabindex="3" id="userRegister" [(ngModel)]="userRegister" type="text" placeholder="User example@">
            <br>
            <input (keypress)="nextFocus('passwordRegister', 'password2Register')" (focus)="MensajedeError=''" tabindex="4" id="passwordRegister" [(ngModel)]="passwordRegister" type="password" placeholder="Password">
            <br>
            <input (keypress)="nextFocus('password2Register', 'buttonRegister')" (focus)="MensajedeError=''" tabindex="5" id="password2Register" [(ngModel)]="password2Register" type="password" placeholder="Repeat Password">
            <br>
            <div class="sex">
                <div>
                    <input (change)="checkbox2=false; MensajedeError='' " [(ngModel)]="checkbox1" tabindex="6" type="checkbox" id="radio1"><label for="radio1">Male</label>
                </div>
                <div>
                    <input (change)="checkbox1=false; MensajedeError='' " [(ngModel)]="checkbox2" tabindex="7" type="checkbox" id="radio2"><label for="radio2">Female</label>
                </div>
            </div>
            <br>
            <p>{{MensajedeError}}</p>
            <button id="buttonRegister" class="button" (click)="SignUpRegister()" tabindex="8">Sign up</button>
            <div class="SignUp">
                <button class="buttontexto" role="button" tabindex="9" (click)="SignIn()">Sign in</button>
            </div>
        </div>
    </main>
</div>